/**
 * Generic elements
 */

div.modal-ajax-wrapper {
  display: none;
  z-index: 2147483646;
  position: fixed;
  top: 0;
  left: 0;
  background:#FFF;
  padding:10px;
  overflow:hidden;
}
div.modal-ajax-wrapper span.modal-close{
	cursor:pointer;	
	display:block;
	float:right;
}
div.modal-ajax-wrapper h2.modal-title{
    float: left;
}
div.modal-ajax-wrapper div.modal-content{
	width:100%;
	height:94%;
	overflow:auto;
	padding-bottom:10px;
}

div.modal-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2147483647;
    background: #FFFFFF;
    color: #000000;
}
